.flexbox-container{
  display: flex;;
  padding: 10px;
  background-color: lightblue;
  margin-bottom: 20px;
  border: 2px solid black;
  gap: 10px;
  flex-wrap: wrap;
}
.flexitem{
  background-color: lightgreen;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
}
.percentage-example .flexitem{
  flex-basis: 150px;
  flex-grow: 1;
}
.diff-width-example .flexitem:nth-child(1){
  flex-basis: 100px;
  flex-grow: 1;
}
.diff-width-example .flexitem:nth-child(2){
  flex-basis: 200px;
  flex-grow: 2;
}
.diff-width-example .flexitem:nth-child(3){
  flex-basis: 300px;
  flex-grow: 3;
}
